$color-background-dark: rgb(32, 32, 32);

$color-button-operator-dark: rgb(50, 50, 50);
$color-button-operator-hover-dark: rgb(60, 60, 60);

$color-button-numbers-dark: rgb(59, 59, 59);
$color-button-numbers-hover-dark: rgb(50, 50, 50);
$color-button-active-hover-dark: rgb(40, 40, 40);

$color-button-equals-dark: rgb(97, 204, 255);
$color-button-equals-hover-dark: rgb(90, 186, 232);
$color-button-equals-active-dark: rgb(83, 169, 210);

$color-text-button-dark: rgb(225, 225, 225);
$color-text-button-active-dark: rgb(208, 208, 208);

$color-text-button-equals-dark: #000;
$color-text-button-equals-active-dark: rgb(41, 84, 105);

$color-text-previous-dark: rgb(146, 146, 146);
$color-text-current-dark: rgb(255, 255, 255);

$buttons-gap: 5px;